.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-bar {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 3rem;
  height: 3rem;
  width: 73rem;
  border-radius: 3.125rem;
  box-sizing: border-box;
  background: #FF6B35;
}

.welcome-user {
  text-align: center;
}

.welcome-user p{
  padding-left: 5rem;
  color: #EFEFD0;
  font-weight: 600;
}

.hand-welcome {
  display: flex;
  align-items: center;
}

.hand {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
  margin-top: -1rem;
}

.smack-logo {
  margin-left: -2rem;
  position: absolute;
}

.home-container{
  margin-top: 3rem;
  border-radius: 1.5625rem;
  background: #EFEFD0;
  width: 73.0625rem;
  height: 47rem;
  flex-shrink: 0; 
}

.song-container{  
  margin-top: -3rem;
  margin-left: -1rem;
  margin-right: 3rem;
}

.song-top{
  display: flex;
  justify-content: center;
  margin: 5rem;
  width: 11rem;
  height: 13rem;
  border-radius: 1.5625rem;
  background: #004E89;
  flex-shrink: 0;
}

.song-top p{
  color: #EFEFD0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  flex-direction: 0;
  margin-left: .5rem;
}

.song-top-x-container{
 padding-left: 3rem;
 margin-top: 1rem;
}

.movie-top{
  display: flex;
  justify-content: center;
  margin: 5rem;
  width: 11rem;
  height: 13rem;
  border-radius: 1.5625rem;
  background: #004E89;
  flex-shrink: 0;
}

.song-body{
  width: 16.885rem;
  height: 23.875rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  background: #004E89;
  margin-left: 5rem;
  margin-top: -15rem;
  display: flex;
  justify-content: center;
}

.song-pic{
  width: 25.875rem;
  height: 20.875rem;
  border-radius: 0rem 1.5625rem 0rem 0rem;
}

.container-first-row{
  display: flex;
}

.movie-container{
  margin-top: -3rem;
}

.movie-top{
  display: flex;
  justify-content: left;
  width: 15rem;
  height: 13rem;
  border-radius: 1.5625rem;
  background: #004E89;
  flex-shrink: 0;
  margin-bottom: 0rem;
  margin-left: -.0001rem;
  
}

.movie-top p{
  margin-left: 1rem;
  color: #EFEFD0;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.movie-inside{
  margin-top: -10rem;
  width: 47.5rem;
  height: 24rem;
  flex-shrink: 0;
  background:#004E89;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5625rem;

}

.movie-pic{
  width: 46rem;
  height: 20.5rem;
  flex-shrink: 0;
  border-radius: 0rem 1.5625rem 1.5625rem 1.5625rem;
  background: #004E89;
  
}

.container-second-row{
  align-items: center;
  justify-content: center;
}

.fun-fact-container{
  width: 40.625rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  background: #004E89;
  margin-top: 2rem;
  margin-left: 4rem;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.joke{
  color: #EFEFD0;
  font-size: 1.5rem;
  font-weight: 500;
  height: 5rem;
  padding: 10px;
  margin-bottom: 30px;
}


.song-pic-spotify{
  width: 17rem;
  height: 15rem;
  border-radius: 0rem 1.5625rem 0rem 0rem;
}

.song-info h4,
.song-info p {
  margin: 0 !important; /* Remove default margins to control spacing */

}

.song-info{
  color:#EFEFD0;
  line-height: 1.2;
  font-weight: 500;
  margin-left: 20px;
  font-size: 13px;
}

.song-details-top{
  height: 15.3rem;
}

.choose-song-button{
  margin-top: .5rem;
  display: flex;
  justify-content: center !important;
}

.movie-picker-container {
  display: flex;
  flex-direction: column
}

.movie-details-container {
  color: #EFEFD0;
  display: flex;
  height: 13rem;
  margin-left: -1.6rem;
  width: 45rem;
}

.movie-poster {
  height: 23rem;
}

.movie-poster img {
  margin-top: -6rem;
  width: 15rem; /* Adjust the width as needed */
  height: 20.5rem; /* Adjust the height as needed */
  border-radius: 0rem 0rem 0rem 1rem;
  padding-right: 3rem;
  margin-left: 1rem;
}

.button-selection {
  display:flex;
  justify-content: right;
}

.heading-movie-buttons{
  bottom: 0;
  padding-right: 5rem;
}

.heading-movie-buttons h4{
  color: #EFEFD0;
}

.genre-buttons {
  display:flex;
  justify-content: start;
  gap: 10px;

}

.btns{
  background-color: #FF6B35;
  color: #EFEFD0;
  border-radius: 40px;
  border-style: none;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px; 
}

.btns:hover,
.btns:focus {
  background-color: #ffb703;
}

.btns2{
  background-color: #FF6B35;
  color: #EFEFD0;
  border-radius: 40px;
  border-style: none;
  height: 40px;
  margin-top: 8px;
  line-height: 20px;
  padding: 10px 16px; 
}

.btns2:hover,
.btns2:focus {
  background-color: #ffb703;
}




